# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# VScode
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
venv/
.venv/

# Secrets
*.csv

*/kw/*
*/kw_test/*

*/flair/*
*/flair_test/*
